/* .mw{
    min-height: 100vh;
}
.mwlm{
    background-color: rgb(20, 223, 166);
    padding: 1rem;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
}
.gob{
    z-index: 100;
    position: relative;
} */